body{
	background-color: #222D32;
	color: #fff;
}










.btn-right {
	float: right;
}

.logo {
	margin: 0 auto;
	display: table;
	margin-top: 60px;
}

.logo > img {
	width: 85px;
	height: 85px;
}

.title {
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
	margin-bottom: 50px;
}

.application {
	padding: 20px;
}

.permission {
	margin-top: 50px;
}

.permission .fas {
	font-size: 40px;
	text-align: center;
}